deckgo-highlight-code {
  --deckgo-highlight-code-carbon-toolbar-display: none;
  --deckgo-highlight-code-font-family: "Noto Sans KR", sans-serif;
}

*, code {
  font-family: "Noto Sans KR", sans-serif;
}

a {
  color: #808080;
}

code {
  background-color: lightgray;
  border-radius: 0.4rem;
  padding: 0.1rem 0.5rem;
  margin-right: 0.5rem;

  &:last-child {
    margin-right: 0;
  }
}

em {
  color: #808080;
}

h1 {
  margin-top: 2.0rem;
}

h2 {
  margin-top: 2.0rem;
  margin-bottom: 0.5rem;
}

ul {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

li > p, li > ul, ul > li, p {
  margin-bottom: 0;
  margin-top: 0;
}

hr {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

a > hr, div > hr {
  margin-top: 1rem;
  margin-bottom: 1rem;
}
