.post-card-excerpt {
  font-weight: lighter;
  font-size: 14px;
  overflow: hidden;
  word-break: keep-all;
  word-wrap: break-word;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  color: dimgrey;
}

.post-card-image {
  height: 145px;
  width: 100%;
  object-fit: cover;
  margin-bottom: 0;
}
